// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#meta-game-container {
  float: left;
  width: 50%;
}

#game-review-container {
  float: right;
  width: 35%;
  
}

#review-form {
  height: 10%;
  width: 45%;
  border: none;
}

legend {
  margin-bottom: 0;
}

.fa {
  color: gold;
}

game.title {
  color: #23527c;
}

.list-reviews:nth-child(2) {
  border-top: 1px solid lightgray;
}

.list-reviews {
  border-bottom: 1px solid lightgray;
}

#game-name {
  margin-top: 100px;
  display: inline-block;
  width: 400px;
}

#game-picture {
  max-width: 80%;
  margin: 0;
}

#mechanics {
  max-width: 400px;
  font-size: 1.25em;
}

.review {
  padding-left: 10px;
}

#review-form {
  margin-top: 10%;
}

#scores {
  width: 400px;
}

#owner-friends {
  width: 400px;
}

#mechanic-search {
  margin-top: 10px;
  margin: auto;
}

#games-search {
  margin-top: 10px;
  margin-left: 475px;
}

.paginate {
  text-align: center;
  margin: auto;
}
