// Place all the styles related to the Mechanics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mechanic-center {
  text-align: center;
  margin: auto;
}
#mechanic-ul {
  list-style: none;
}
