// Place all the styles related to the Mechanics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#mechanic-ul {
	text-indent: 0;
  list-style: none;
  text-align: center;
  margin: auto;
  font-size: 1.25em;
  padding: 0;
}

#mechanic-item {
	padding: 1%;
}
